# Core dependencies
numpy
pandas
opencv-python-headless
Pillow
matplotlib
seaborn
plotly
tqdm
gdown

# PyTorch and TorchVision
torch
torchvision

# Scikit-learn
scikit-learn

# Streamlit for web app
streamlit
